body.playing {
    --bg-color: #12100e;
    background-color: var(--bg-color);
}

#playing {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 100%;
}

text,
.track-title,
tspan {
    user-select: none;
    touch-action: none;
    -webkit-user-select: none;
}

.now-playing {
    --text-color: #a19e9e;
    --bar-color: #a19e9e;
    --status-color: #a19e9e;
    --progress-bar-border-color: #a19e9e;
    --progress-bar-status-color: #029e43;
    --progress-bar-divider-color: #12100e;
    --circle-character-color: #a19e9e;
    --repeat-color: #a19e9e;
    --shuffle-color: #a19e9e;
    --progress: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
}

.track-title {
    color: var(--text-color);
    letter-spacing: 2px;
}

.progress-bar {
    width: 187px;
    height: 30px;
    padding: 3px 0px 3px 3px;
    box-sizing: border-box;

    border: 2px solid var(--progress-bar-border-color);
    border-radius: 4px;
}

.progress-status {
    width: var(--progress);
    height: 100%;

    background: repeating-linear-gradient(
        to right,
        var(--progress-bar-status-color) 0,
        var(--progress-bar-status-color) 15px,
        var(--progress-bar-divider-color) 15px,
        var(--progress-bar-divider-color) 18px
    );
}

.playback-status {
    color: var(--status-color);
    display: flex;
    gap: 20px;
}

.bi-repeat {
    fill: var(--repeat-color);
}

#charCircle {
    position: fixed;
}

text {
    font-size: 14px;
    fill: var(--circle-character-color);
    letter-spacing: 1.8px;
}

tspan {
    opacity: 0;
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}