* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #1a1714;
    --outline-border-color: #a94d00;
    --inner-border-color: #515250;
    --inner-bg-color: #000000;
    --button-bg-color: #1a1714;
    --button-border-color: #ff7f00;
    --button-svg-color: #ffffff;
    --button-outer-border-color: #e7dcdc;
    --status-text-color: #e8e4de;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    touch-action: none;
    user-select: none;
}

section {
    display: none;
}

section.active {
    display: flex;
}